.App{
    padding: 40px;
}

.headerclass{
    margin-bottom: 40px;
}

h2{
    color:black;
}
.eachtaskname{
    border: 2px solid black;
}
.tile{
    display: inline-block;
    padding:100px;
    margin: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.weatherCards{
    margin:auto;
    text-align:left;
    border:2px solid gray;
    display: inline-block;
}